{% extends "base_dashboard.html" %}
{% load static %}

{% block CSS %}

{% endblock %}
{% block content %}
<!-- メインコンテンツ -->
<!-- スコア設定フォーム -->
<div class="flex flex-col p-8 bg-bg w-full">
    <div class="bg-white p-6 rounded-lg shadow-lg mb-8 w-full">
        <h2 class="text-xl font-semibold mb-4 text-textmain">設定画面（未着手）</h2>
        <form action="/save_status" method="post" class="flex w-full justify-between space-x-4">
            <!-- ステータス名 -->
            <div class="mb-4 w-5/12">
                <label for="status_name" class="block text-gray-700 font-bold mb-4 text-sm text-center">ステータス名</label>
                <input type="text" id="status_name" name="status_name" class="w-full px-3 py-2 border focus:outline-none focus:ring focus:border-blue-300" required>
            </div>
            <!-- カラー -->
            <div class="mb-4 w-2/12">
                <label for="color" class="block text-gray-700 font-bold mb-4 text-sm text-center">カラー</label>
                <input type="color" id="color" name="color" class="w-full h-10 border focus:outline-none focus:ring focus:border-blue-300" required>
            </div>
            <!-- メモ -->
            <div class="mb-4 w-1/3">
                <label for="memo" class="block text-gray-700 font-bold mb-4 text-sm text-center">メモ</label>
                <textarea id="memo" name="memo" class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring focus:border-blue-300" rows="3"></textarea>
            </div>
            <!-- 送信ボタン -->
            <div class="flex justify-end items-center ml-4 w-1/12">
                <button type="submit" class="bg-primary w-full text-white text-sm font-bold py-2 px-8 rounded-md hover:bg-opacity-80">保存</button>
            </div>
        </form>


    </div>
    <!-- 設定した内容の表示 -->
    <div class="bg-white p-6 rounded-lg shadow-lg w-full">
        <h2 class="text-xl font-semibold mb-4 text-textmain">設定した内容</h2>
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-6 border-b-2 text-textmain text-sm"></th>
                    <th class="py-2 px-6 border-b-2 text-textmain text-sm">ステータス名</th>
                    <th class="py-2 px-6 border-b-2 text-textmain text-sm">カラー</th>
                    <th class="py-2 px-6 border-b-2 text-textmain text-sm">メモ</th>
                    <th class="py-2 px-6 border-b-2 text-textmain text-sm"></th>
                </tr>
            </thead>
            <tbody id="sortable">
                <tr class="draggable">
                    <td class="py-2 px-6 border-b text-sm text-center cursor-move">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                        </svg>
                    </td>
                    <td class="py-2 px-6 border-b text-sm text-center">対応中</td>
                    <td class="py-2 px-6 border-b text-sm text-center">
                        <span class="inline-block bg-status1 text-white py-1 px-3 rounded-full text-sm" style="background-color: #ff6347;">&nbsp;</span>
                    </td>
                    <td class="py-2 px-6 border-b text-sm text-center">サンプルメモ</td>
                    <td class="py-2 px-4 border-b text-sm text-center">
                        <button class="text-blue-500 hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20h9m-9-9l3-3 3 3M9 9l-3 3-3-3" />
                            </svg>
                        </button>
                        <button class="text-red-500 hover:underline ml-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr class="draggable">
                    <td class="py-2 px-6 border-b text-sm text-center cursor-move">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                        </svg>
                    </td>
                    <td class="py-2 px-6 border-b text-sm text-center">未対応</td>
                    <td class="py-2 px-6 border-b text-sm text-center">
                        <span class="inline-block bg-status1 text-white py-1 px-3 rounded-full text-sm" style="background-color: #ff6347;">&nbsp;</span>
                    </td>
                    <td class="py-2 px-6 border-b text-sm text-center">サンプルメモ</td>
                    <td class="py-2 px-4 border-b text-sm text-center">
                        <button class="text-blue-500 hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20h9m-9-9l3-3 3 3M9 9l-3 3-3-3" />
                            </svg>
                        </button>
                        <button class="text-red-500 hover:underline ml-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </td>
                </tr>
                <tr class="draggable">
                    <td class="py-2 px-6 border-b text-sm text-center cursor-move">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 8h16M4 16h16" />
                        </svg>
                    </td>
                    <td class="py-2 px-6 border-b text-sm text-center">対応済</td>
                    <td class="py-2 px-6 border-b text-sm text-center">
                        <span class="inline-block bg-status1 text-white py-1 px-3 rounded-full text-sm" style="background-color: #ff6347;">&nbsp;</span>
                    </td>
                    <td class="py-2 px-6 border-b text-sm text-center">サンプルメモ</td>
                    <td class="py-2 px-4 border-b text-sm text-center">
                        <button class="text-blue-500 hover:underline">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 20h9m-9-9l3-3 3 3M9 9l-3 3-3-3" />
                            </svg>
                        </button>
                        <button class="text-red-500 hover:underline ml-4">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 inline-block" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const sortable = document.getElementById('sortable');
            new Sortable(sortable, {
                animation: 150,
                ghostClass: 'sortable-ghost',
                handle: '.cursor-move',
                onEnd: function (/**Event*/evt) {
                    console.log('Element dragged', evt.item);
                    // Here you can add additional actions, such as saving the new order to the server.
                }
            });
        });
    </script>


</div>

{% endblock %}
