<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>メール認証</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-bg">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h2 class="text-2xl my-8 text-center font-nunito font-bold">メール認証</h2>
        <p class="text-center text-gray-700">登録ありがとうございます。メールに送信されたリンクをクリックしてアカウントを有効化してください。</p>
    </div>
</body>

</html>
