<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン画面</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-bg">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96 bg-white">
        <div class="img justify-center flex">
            <img src="{% static 'images/Logo.png' %}" alt="ロゴ" class="w-1/4">
        </div>
        <h2 class="text-2xl my-8 text-center font-nunito">Log in</h2>
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold">メールアドレス</label>
                {{ form.username }}
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-bold">パスワード</label>
                <div class="relative">
                    {{ form.password }}
                    <button type="button" onclick="togglePassword()" class="absolute right-3 top-1/2 transform -translate-y-1/2">
                        <svg id="eye-icon" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-500" viewBox="0 0 20 20" fill="currentColor">
                            <path d="M10 3C5 3 1.73 7.11 1 10c.73 2.89 4 7 9 7s8.27-4.11 9-7c-.73-2.89-4-7-9-7zm0 12c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm0-8c-1.66 0-3 1.34-3 3s1.34 3 3 3 3-1.34 3-3-1.34-3-3-3z" />
                        </svg>
                    </button>
                </div>
                <a href="{% url 'password_reset' %}" class="inline-block align-baseline text-sm text-blue-500 hover:underline">パスワードをお忘れですか？</a>
            </div>
            <div class="flex items-center justify-between">
                <button type="submit" class="bg-primary text-white font-bold py-2 px-16 rounded-lg hover:bg-opacity-80 mx-auto">ログイン</button>
            </div>
            <div class="text-center mt-4">
                <a href="{% url 'register' %}" class="text-sm text-primary py-2 px-4 rounded-lg hover:underline">新規会員登録はこちら</a>
            </div>
        </form>
        {% if form.errors %}
        <div class="mt-4 text-red-500">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
