<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>新しいパスワード設定</title>
    {% load static %}
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
</head>

<body class="flex items-center justify-center min-h-screen bg-bg">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
        <h2 class="text-2xl my-8 text-center font-nunito">新しいパスワード設定</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.new_password1.label_tag }}
            {{ form.new_password1 }}
            {{ form.new_password2.label_tag }}
            {{ form.new_password2 }}
            <button type="submit" class="bg-primary text-white font-bold py-2 px-4 rounded-lg hover:bg-opacity-80 mt-4">パスワードをリセットする</button>
        </form>
    </div>
</body>

</html>
